.container{
    margin-top: 50px;
    padding: 10px;
    background-color: white;
}

.jumbo-title{
    display: flex;
    flex-direction: row;
}

.img-wrapper{
    margin-left: 1%;
    margin-bottom: 1%;
    width: 40%;
    height: 40%;
}
